/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/

body{
    background-color: #6ed663;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: inline;
    vertical-align: middle;
    
}

.separetor{
    margin: 2px 0;
    height: 2px;
    background-color: #6ed663;
}

/*utilities*/

header{
    background-color: white;
    margin-bottom: 30px;
}

.container{
    width: 60%;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

/*header*/

#logo{
    height: 50px;
    vertical-align: middle;
    margin: 10px; 
    margin-right: 0px;
}

.task{
    padding: 5px 15px;
    background-color: #1e90ff;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    border-radius: 5px;
    border: 2px solid #1e90ff;
}

.section{
    padding: 5px 15px;
    background-color:white;
    color: #8f96a7;
    margin: 0px;
    border-radius: 5px;
    border: 2px solid #8f96a7;
}

/*toboolist*/

ul{
    list-style-type: none;
}

.down-pointing-triangle{
    font-size: 10px;
    padding-left: 30px;
    padding-right: 5px;
    vertical-align: middle;
}

h2{
    font-size: 20px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.text-list{
    font-family: Arial, Helvetica, sans-serif;
}

.checkmark-green{
    color: green;
    background-color: white;
    border: 2px solid green;
    border-radius: 50%;
    padding: 2px;
    margin-left: 30px;
  
}

.ballot-red{
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    padding: 2px;
    margin-left: 30px;
  
}

.text-list{
    display: inline;
}

.list-item{
    margin-top: 20px;
}

.marked-text{
    font-size: small;
    background-color: #45abea;
    color: white;
    border: 2px solid #45abea;
    border-radius: 50px;
    padding: 5px;
}

.marked-text-purple{
    font-size: small;
    background-color: #9c72e4;
    color: white;
    border: 2px solid #9c72e4;
    border-radius: 50px;
    padding: 5px;
}

.marked-text-green{
    font-size: small;
    background-color: #64c0a9;
    color: white;
    border: 2px solid #64c0a9;
    border-radius: 50px;
    padding: 5px;
}

.marked-text-orange{
    font-size: small;
    background-color: #f29e33;
    color: white;
    border: 2px solid #f29e33;
    border-radius: 50px;
    padding: 5px;
}

.marked-text-fuchsia{
    font-size: small;
    background-color: #d863a1;
    color: white;
    border: 2px solid #d863a1;
    border-radius: 50px;
    padding: 5px;
}

.marked-text-grass{
    font-size: small;
    background-color: #b0c926;
    color: white;
    border: 2px solid #b0c926;
    border-radius: 50px;
    padding: 5px;
}